<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>William's Home Page</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>William's Home Page</strong></h1>
        <h2> <table style="width:90%" align="center">
            <tr>
              <td>
                <h2>Welcome to my Individual repo!,
                  test
                </h2>
                <h2><b> . . </b></h2>
                <h2>_________________________________</h2>
                <h2><b> . . </b></h2>
                <h2>Feel free to take a look around! <3 </h2>
              </td>
            </tr>
          </table>
          </h2>
</body>

</html>
